html {
    overflow: scroll;
}

.form-container {
    width: 30%;
    border: 2px solid;
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 16px 0px;
}

.primary-theme {
    background-color: midnightblue!important;
}

.btn-create {
    background: white;
    color: midnightblue;
    border-color: midnightblue!important;
}

.btn-create:hover {
    color: white;
    background-color: midnightblue!important;
}

.btn-calculate {
    background: white;
    color: darkgreen;
    border-color: darkgreen!important;
}

.btn-calculate:hover {
    color: white;
    background-color: darkgreen!important;
}


h1 {
    color: #FFF!important;
    text-align: center;
}

.btn-submit {
    margin: 8px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.btn-opts {
    font-size: 22px!important;
    text-align: center;
    width: 25%;
    min-width: 250px;
    max-width: 400px;
    margin: 8px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#playerForm {
    display: none;
    padding: 8px;
}

.card-container {
    margin-right: 30px;
    min-width: 250px!important;
    max-width: 500px!important;
}

.board {
    margin: 32px 0px 32px 32px!important;
    display: inline-block;
}

.center {
    margin-top: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}